p {
    display: block;
    margin: 20% auto;
    font-family: 'Inter Tight', sans-serif;
    font-size: 2.5rem;
    font-weight: 600;
    text-transform: uppercase; 
    text-align: center;
}

.joo {
    opacity: 0;
    animation: appear 5s ease-out 7s forwards,
    disappear 3s ease-out 13s forwards;
}

.firstSt {
    opacity: 0;
    position: relative;
    left: 58px;
    animation: appear 2s ease-in-out 4s forwards,
    moveLeft 2s ease-out 5s forwards,
    disappear 3s ease-out 13s forwards;
}

.secondSt {
    opacity: 0;
    /* position: relative;
    left: 10px; */
    animation: appear 3s ease-out 1s forwards,
    disappear 3s ease-out 13s forwards;
}

.eltenpool {
    opacity: 0;
    animation: appear 4s ease-out 8s forwards,
    disappear 3s ease-out 13s forwards;
}

@keyframes appear {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes moveLeft {
    100% {
        left: 0%;
    }
}

@keyframes disappear {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}
